.cart{

    &__icon-row{
        position: relative;
    }

    &__icon{
        width: 35px;
        cursor: pointer;
        margin-top: 10px;

        &-circle{
            cursor: pointer;
            position: absolute;
            padding-top: 2px;
            width: 17px;
            height: 17px;
            background-color: tomato;
            border-radius: 15px;
            font-size: 13px;
            color: #fff;
            z-index: 2;
            right: -10px;
            top: 5px;
            text-align: center;
        }

        &:hover{
            opacity: 0.7;
        }

        &:active{
            opacity: 0.5;
        }
    }

    .modal{
    position: absolute;
    top: 85px;
    right: 0px;
    background-color: #1a1b1e;
    width: 400px;
    padding: 15px 25px;
    z-index: 2;
    border-radius: 15px;

        &__notFound{
            text-align: center;
        }

        &__games{
            
        }

        &__game{    
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            border-bottom: 2px solid rgba(128, 128, 128, 0.089);
            padding-bottom: 10px;

            &-title{
                font-size: 16px;
            }
            &-price{
                font-size: 17px;
                color: #02cb1d;
            }
        }
        &__button{
            text-align: center;
            width: 70px;
            margin: 0 auto;
            cursor: pointer;
        }

    }


}


@media screen and (max-width: 1280px) {
    .modal{
        margin-right: 15px;
    }
}

@media screen and (max-width: 550px) {
    .cart{    
        
        .modal{
            width: 290px;

            &__game-title{
                font-size: 11px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .cart{    
        
        .modal{
            width: 225px;
            font-size: 14px;
        }
    }
}